<footer class="container-fluid mt-4 py-0">
    <div class="card-body text-center px-0 f-14">

        <p class="mb-0">
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{config.H3BLOG_GWAB}}" target="_blank">
                <img style="width: 19px;height: auto;margin-right: 2px;margin-left: 8px;display: inline-block;vertical-align: middle;" src="https://asset.ibanquan.com/common/img/safe/gongan.png"> 
                冀公网安备 {{config.H3BLOG_GWAB}}号
            </a>
            <a href="http://beian.miit.gov.cn/" target="_blank">{{config.H3BLOG_ICP}}</a>
            
            <span class="with-love"><i class="fa fa-heart"></i></span>
            <span id="web-day">网站已续航&nbsp;{{get_website_run_time(config.H3BLOG_START_TIME)}}</span>
        </p>
        <p class="card-text mb-1">
            Copyright&nbsp;&copy;&nbsp;<span id="year-info">{{strptime(config.H3BLOG_START_TIME).year}}-{{now().year}}</span>
            <a href="http://www.h3blog.com" title="何三笔记">H3BLOG</a>.&nbsp;Powered&nbsp;by&nbsp;Flask.
            <a href="/sitemap.xml" target="_blank">Sitemap</a>
        </p>
    </div>
</footer>