<!--导航开始-->
<nav class="navbar navbar-expand-md bg-white fixed-top blog-navbar py-md-0">
    <a class="navbar-brand d-md-none d-lg-block" id="site-logo-name" href="/">
        <strong class="px-2">{{config.H3BLOG_TITLE}}</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-2">
                <a class="nav-link py-md-3 {{'active' if request.path == url_for('main.index') else ''}}" href="{{url_for('main.index')}}"><i class="fa fa-home mr-1"></i>首页<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link py-md-3 {{'active' if request.path == url_for('main.subject') else ''}}" href="{{url_for('main.subject')}}"><i class="fa fa-cubes mr-1"></i>专题</a>
            </li>
            {% for category in get_categorys_by_parent() %}
            <li class="nav-item mr-2">
                <a class="nav-link py-md-3 {{'active' if request.path == category.url }}" href="{{category.url}}"><i class="{{category.icon}}"></i>{{category.name}}</a>
            </li>
            {% endfor %}
            <form class="nav-item navbar-form mr-2 py-md-2" role="search" method="get" id="searchform" action="{{url_for('main.search')}}">
                <div class="input-group">
                    <input type="search" name="q" class="form-control" placeholder="站内搜索" autocomplete="off" required="" value="{{request.values.get('q','')}}">
                    <div class="input-group-btn">
                        <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div><!-- /input-group -->
            </form>
        </ul>
        <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" title="{{current_user.username}}，欢迎回来！">

                    <img class="avatar" src="{{current_user.avatar or url_for('main.static',filename='img/avatar.png')}}"
                        alt="{{current_user.username}}">
                </a>
                <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item pl-3" href="{{url_for('main.account.index')}}">
                        <i class="fa fa-fw fa-user text-info mr-2"></i>个人中心</a>
                    <a class="dropdown-item pl-3" href="{{url_for('main.logout')}}">
                        <i class="fa fa-fw fa-sign-out text-info mr-2"></i>退出</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item mr-2">
                <a class="nav-link py-md-3" href="{{url_for('main.login')}}?next={{request.path}}">登录</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!--导航结束-->
<!--切换主题按钮-->
<div class="text-center" id="change-theme" title="切换主题">
    <i class="fa fa-moon-o"></i>
</div>
<!--回到顶部按钮-->
<div class="text-center" id="to-top">
    <i class="fa fa-chevron-up" id="btn-top" title="回到顶部"></i>
</div>