{% extends 'admin/common/base.html' %}
{% block body %}

<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="role-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                备注：<input type="text" name="remark" />
                            </li>
                            <li>
                                机构id：<input type="text" name="org_id" />
                            </li>
                            <li>
                                连接：<input type="text" name="link" />
                            </li>
                            <li>
                                名称：<input type="text" name="name" />
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="state">
                                    <option value="">所有</option>
                                    {% for dd in get_dict_data('cms_friendlylink_state')%}
                                    <option value="{{dd.value}}">{{dd.label}}</option>
                                    {% endfor %}
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success {{check_perms('cms:friendlylink:add')}}" onclick="$.operate.add()">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled {{check_perms('cms:friendlylink:edit')}}" onclick="$.operate.edit()">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled {{check_perms('cms:friendlylink:remove')}}" onclick="$.operate.removeAll()">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning {{check_perms('cms:friendlylink:export')}}" onclick="$.table.exportExcel()">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% block js %}
{{ super() }}
<script>
    var editFlag = "{{check_perms('cms:friendlylink:edit')}}";
    var removeFlag = "{{check_perms('cms:friendlylink:remove')}}";
    var state_datas = {{get_dict_data('cms_friendlylink_state') | tojson | safe}};
    $(function () {
        var options = {
            url: "{{url_for('admin.cms.friendlylink.list')}}",
            createUrl: "{{url_for('admin.cms.friendlylink.add')}}",
            updateUrl: "{{url_for('admin.cms.friendlylink.edit')}}?id={id}",
            removeUrl: "{{url_for('admin.cms.friendlylink.remove')}}",
            exportUrl: "{{url_for('admin.cms.friendlylink.export')}}",
            modalName: "友情链接",
            columns: [
            {
                checkbox: true
            },
            {
                field: 'id',
                title: 'ID',
                visible: false
            },
            {
                field: 'remark',
                title: '备注',
                formatter: function(value, row, index) {
                    return $.table.tooltip(value, 10, "open");
                }
            },
            {
                field: 'link',
                title: '连接'
            },
            {
                field: 'name',
                title: '名称'
            },
            {
                field: 'state',
                title: '状态',
                formatter: function(value, row, index) {
                    return $.table.selectDictLabel(state_datas, value);
                }
            },
            {
                title: '操作',
                align: 'center',
                formatter: function (value, row, index) {
                    var actions = [];
                    actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                    actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
                    return actions.join('');
                }
            }]
        };
        $.table.init(options);
    });

</script>
{% endblock %}