{% extends 'admin/common/base.html' %}
{% block css %}
{{super()}}
<link href="{{url_for('admin.static',filename='ajax/libs/jasny/jasny-bootstrap.min.css')}}?v=3.1.3" rel="stylesheet"/>
{% endblock %}
{% block body %}
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form">
            <input type="hidden" name="id" value="{{d.id}}">
            <div class="form-group">
				<label class="col-sm-3 control-label is-required">名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="name" id="name" value="{{d.name}}" required>
				</div>
			</div>
            <div class="form-group">
				<label class="col-sm-3 control-label is-required">编码：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="code" id="code" value="{{d.code}}" required>
				</div>
			</div>
            <div class="form-group">
				<label class="col-sm-3 control-label is-required">是否可见：</label>
				<div class="col-sm-8">
                    {% for dd in get_dict_data('tag_visible')%}
                    <div class="radio-box">
                        <input type="radio" id="menuName_{{dd.id}}" name="visible" value="{{dd.value}}" {{'checked' if d.visible ~ '' == dd.value else ''}} required>
                        <label for="menuName_{{dd.id}}">{{dd.label}}</label>
                    </div>
                    {% endfor %}
				</div>
			</div>
		</form>
	</div>
</body>
{% endblock %}
{% block js %}
{{ super() }}
<script src="{{url_for('admin.static',filename='ajax/libs/jasny/jasny-bootstrap.min.js')}}?v=3.1.3"></script>
<script type="text/javascript">

    
    $("#form").validate({

    });
    
    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save("{{url_for('admin.cms.tag.edit')}}", $('#form').serialize());
        }
    }

</script>
{% endblock %}
