{% extends 'tend/common/base.html' %}
{% import "tend/macros/_patination.html" as page_macros %}
{% import "tend/macros/_flash.html" as flash_macros %}
{% block css %}
{{ super() }}
<link href="{{ url_for('main.static', filename='css/admin.css')}}" rel="stylesheet">
<style>
    footer {
        display: none;
    }
</style>
{% endblock %}
{% block main %}

<div class="layout-boxed">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                {% include 'tend/account/common/sidebar.html' %}
                <main role="main" class="col-lg-10 ml-sm-auto px-4 bg-light">
                    {% block contents %}{% endblock %}
                </main><!--/main-->
            </div><!--/row-->
        </div><!--/.container-->
    </div>
</div>


{% endblock %}